html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Ubuntu,'Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #f0c832;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f0c832;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}


a:hover,
a:focus {
    color: #C0A028;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu','Helvetica Neue',Arial,sans-serif;
        font-weight: 400;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;

}

.bg-primary {
    background-color: #22B8EB;
}

.bg-dark {
    color: #fff;
    background-color: #5c5c5c;
}

.text-faded {
    color: rgba(255,255,255,.7);
}



section {
    padding: 50px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Ubuntu','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Ubuntu','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f0c832;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #C0A028;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: rgba(51,51,51,.8);
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f0c832;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f0c832!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color:   rgba(255,255,255,.9);
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(51,51,51,.8);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f0c832;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(51,51,51,.8);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #f0c832;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color:   rgba(255,255,255,.9);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f0c832;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #f0c832;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: rgba(51,51,51,.8);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f0c832;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: rgba(51,51,51,.8);
    background-image: url(../img/bg-cover3.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 50;
    margin-bottom: 50px;
    font-weight: 500;
    background-color: rgba(255,255,255,0.9);
    color:  rgba(51,51,51,.8);
    padding: 20px;
}



header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(51,51,51,.8);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
    color: #f0c832;
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
    color: rgba(51,51,51,0.8);
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Ubuntu','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f0c832;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: rgba(51,51,51,.8);
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: rgba(51,51,51,.8);
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: rgba(51,51,51,.8);
}

.btn-primary {
    border-color: #f0c832;
    color: #fff;
    background-color: #f0c832;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-primary-docker {
    border-color: #22B8EB;
    color: #fff;
    background-color: #22B8EB;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-primary-puppet {
    border-color: #524982;
    color: #fff;
    background-color: #524982;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-primary-aws {
    border-color: #F7981D;
    color: #fff;
    background-color: #F7981D;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-primary-softlayer {
    border-color: #BB3338;
    color: #fff;
    background-color: #BB3338;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-primary-doi {
    border-color: #7E1518;
    color: #fff;
    background-color: #7E1518;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-primary-sysdig {
    border-color: #1D8B90;
    color: #fff;
    background-color: #1D8B90;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-primary-cloudbees {
    border-color: #1D4359;
    color: #fff;
    background-color: #1D4359;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-primary-nutanix {
    border-color: #3d71b5;
    color: #fff;
    background-color: #3d71b5;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-top: 25px;
    margin-bottom: 25px;
}



.btn-primary-docker:hover,
.btn-primary-docker:focus,
.btn-primary-docker.focus,
.btn-primary-docker:active,
.btn-primary-docker.active,
.open > .dropdown-toggle.btn-primary-docker {
    border-color: #134A6A;
    color: #fff;
    background-color: #134A6A;
}


.btn-primary-puppet:hover,
.btn-primary-puppet:focus,
.btn-primary-puppet.focus,
.btn-primary-puppet:active,
.btn-primary-puppet.active,
.open > .dropdown-toggle.btn-primary-puppet {
    border-color: #2F2F6C;
    color: #fff;
    background-color: #2F2F6C;
}

.btn-primary-aws:hover,
.btn-primary-aws:focus,
.btn-primary-aws.focus,
.btn-primary-aws:active,
.btn-primary-aws.active,
.open > .dropdown-toggle.btn-primary-aws {
    border-color: #F0BD3E;
    color: #fff;
    background-color: #F0BD3E;
}

.btn-primary-softlayer:hover,
.btn-primary-softlayer:focus,
.btn-primary-softlayer.focus,
.btn-primary-softlayer:active,
.btn-primary-softlayer.active,
.open > .dropdown-toggle.btn-primary-softlayer {
    border-color: #8F1C29;
    color: #fff;
    background-color: #8F1C29;
}

.btn-primary-doi:hover,
.btn-primary-doi:focus,
.btn-primary-doi.focus,
.btn-primary-doi:active,
.btn-primary-doi.active,
.open > .dropdown-toggle.btn-primary-doi {
    border-color: #c12c2f;
    color: #fff;
    background-color: #c12c2f;
}

.btn-primary-sysdig:hover,
.btn-primary-sysdig:focus,
.btn-primary-sysdig.focus,
.btn-primary-sysdig:active,
.btn-primary-sysdig.active,
.open > .dropdown-toggle.btn-primary-sysdig {
    border-color: #60AEB1;
    color: #fff;
    background-color: #60AEB1;
}


.btn-primary-cloudbees:hover,
.btn-primary-cloudbees:focus,
.btn-primary-cloudbees.focus,
.btn-primary-cloudbees:active,
.btn-primary-cloudbees.active,
.open > .dropdown-toggle.btn-primary-cloudbees {
    border-color: #1A324A;
    color: #fff;
    background-color: #1A324A;
}

.btn-primary-nutanix:hover,
.btn-primary-nutanix:focus,
.btn-primary-nutanix.focus,
.btn-primary-nutanix:active,
.btn-primary-nutanix.active,
.open > .dropdown-toggle.btn-primary-nutanix {
    border-color: #024da1;
    color: #fff;
    background-color: #024da1;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #C0A028;
    color: #fff;
    background-color: #C0A028;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f0c832;
    background-color: #f0c832;
}

.btn-primary .badge {
    color: #f0c832;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Ubuntu','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: rgba(51,51,51,.8);
}

::selection {
    text-shadow: none;
    color: #fff;
    background: rgba(51,51,51,.8);
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(51,51,51,.8);
}